{% extends "ask/base.html" %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
	<h1 class="question">Задать вопрос</h1><h3 class="question"><small>Если вы являетесь пользовотелем и хотите задать вопрос анонимно,то поставьте галочку в пункте анонимный вопрос.
	<hr>
	<form class="form-horizontal" method="POST">
		{% csrf_token %}
		{% for field in form.visible_fields %}
			<div class="form-group  {% if field.errors %}has-error {% endif%}">
				<label for="{{field.name}}" class="col-sm-2 control-label">{{field.label}}:</label>
				<div class="col-sm-10">
					{{field}}<br>
					{% if field.errors %}<p>Поле не заполнено</p> {% endif%}
				</div>
			</div>
		{% endfor %}	
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Отправить</button>
			</div>
		</div>
	</form>
{% else %}
<h2>Задавать вопросы могут только зарегистрированные или авторизованные пользователи<br><small>Для регистрациия пройдите по 
<a href="{%url 'register'%}">ссылке</a><br>Для авторизации <a href="{% url 'login'%}">По этой ссылке</a></small></h2><hr>
{%endif%}
{%endblock%}

