{% load static%}
<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "icon.jpg" %}" >

    <title>Для умных и глупых вопросов</title>

 
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/filatov_style.css" %}" rel="stylesheet">

  
    <link href="{% static "css/starter-template.css" %}" rel="stylesheet">
  </head>

  <body background="{% static "images.jpg"%} ">
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">WhatIf.ru</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {{pointer_hot}}><a href="{% url 'hot' %}">Лучшие</a></li>
       
	<li {{pointer_ask}}><a href="{% url 'ask' %}">Задать вопрос</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Введите Тэг">
        </div>
        <button type="submit" class="btn btn-default">Найти</button>
      </form>
      {%if user.is_authenticated%}
         <div class="profile_photo">
    <img src="http://lorempixel.com/40/40/" class="img-circle question_photo" >
    </div>
    <div class="profile_data">
    <p>Здравствуйте, {{user}}<br><a href="{% url 'logout'%}?next={{ request.path }}">Выйти</a>  <a href="{%url 'profile'%}">Настройки</a></p>
   </div>
      {% else  %}
      <ul class="nav navbar-nav navbar-right">
        <li {{pointer_login}}><a href="{% url 'login' %}?next={{ request.path }}">Авторизация<span class="sr-only">(current)</span></a></li>
         <li {{pointer_register}}><a href="{% url 'register' %}?next={{ request.path }}">Зарегистрироваться<span class="sr-only">(current)</span></a></li>
      </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="container main_field">
	{%block content%}
	{% endblock %}
	{% block paginator %}
	{% endblock %}
</div>
	<div class="container top_themes">
		<h3>10 Популярных тегов:</h3>
		<br>
		<ul>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
			<li><a href="#">Python-django</li>
		</ul>
		
	</div>
	<div class="container footer">
	<p class="copyright">Сайт сделан с помощью getbootstrap.com студентом Технопарка,Филатовым Степаном<p>
	<address>
  <strong>Twitter, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
	</div>
  </body>
</html>
